<ol id="nav">
	<li>予約した部屋</li>
    <li>@room.name </li>
	<li>開始日</li>
    <li>@reservations.startday</li>
	<li>終了日</li>
    <li>@reservations.endday</li>
    <li>価格</li>
    <li></li>
</ol>

<p id ="thankyou">ご予約ありがとうございました。</p>